    {% extends 'base.html' %}
    {% load static %}

    {% block contact %}
        <main id="main">
            <!-- ======= Breadcrumbs ======= -->
            <div class="breadcrumbs d-flex align-items-center"
                 style="background-image: url('{{ object.image_list.url }}');">
                <div class="container position-relative d-flex flex-column align-items-center">

                    <h2>Blog Details</h2>
                    <ol>
                        <li><a href="{% url 'home_app:index' %}">Home</a></li>
                        <li>Blog Details</li>
                    </ol>

                </div>
            </div><!-- End Breadcrumbs -->

            <!-- ======= Blog Details Section ======= -->
            <section id="blog" class="blog">
                <div class="container" data-aos="fade-up">

                    <div class="row g-5">

                        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

                            <article class="blog-details">

                                <div class="post-img">
                                    <img src="{{ object.image.url }}" alt="" class="img-fluid">
                                </div>

                                <h2 class="title">{{ object.title }}</h2>

                                <div class="meta-top">
                                    <ul>
                                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                                                href="blog-details.html">{{ object.author.get_full_name }}</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                                                href="blog-details.html">{{ object.created_at }}</a></li>
                                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                                                href="blog-details.html">12 Comments</a></li>
                                    </ul>
                                </div><!-- End meta top -->

                                <div class="content">
                                    <p>{{ object.description }}</p>
                                </div><!-- End post content -->

                                <div class="meta-bottom">
                                    <i class="bi bi-folder"></i>
                                    <ul class="cats">
                                        <li><a href="#">Business</a></li>
                                    </ul>

                                    <i class="bi bi-tags"></i>
                                    <ul class="tags">
                                        <li><a href="#">Creative</a></li>
                                        <li><a href="#">Tips</a></li>
                                        <li><a href="#">Marketing</a></li>
                                    </ul>
                                </div><!-- End meta bottom -->

                            </article><!-- End blog post -->

                            <!-- Post Author -->
                            <div class="post-author d-flex align-items-center">
                                <img src="{{ profile.image.url }}" class="rounded-circle flex-shrink-0" alt="">
                                <div>
                                    <h4>{{ profile.username }}</h4>
                                    <div class="social-links">
                                        <a href="{{ profile.linkedin }}"><i class=" bi bi-linkedin"></i></a>
                                        <a href="{{ profile.gmail }}"><i class=" bi bi-google"></i></a>
                                        <a href="{{ profile.telegram }}"><i class="biu bi-telegram"></i></a>
                                    </div>
                                    <p>
                                        {{ profile.about_me }}
                                    </p>
                                </div>
                            </div>

                            {% include 'includes/comment.html' with article=object %}
                            <!-- End blog comments -->

                        </div>

                    {% include 'includes/sidebar.html' %}
                    </div>

                </div>
            </section>
            <!-- End Blog Details Section -->

        </main>
    {% endblock %}
